.noteContentChild {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div,
.notes {
  position: relative;
}
.notes {
  width: 101px;
  display: inline-block;
}
.div {
  align-self: stretch;
}
.noteParagraph {
  width: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.theSpanishColonial {
  height: 22px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 270px;
  max-width: 100%;
  z-index: 1;
}
.noteEntry {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
}
.theAmericanColonial,
.theAmericanColonial1 {
  height: 22px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.theAmericanColonial1 {
  z-index: 2;
  margin-left: -415px;
}
.educationChanges {
  flex: 1;
  flex-direction: row;
  min-width: 270px;
}
.americanInfluence,
.americanPeriod,
.educationChanges,
.historicalNotes,
.noteEntries {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.americanInfluence {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 20px;
}
.americanPeriod,
.historicalNotes,
.noteEntries {
  align-self: stretch;
}
.americanPeriod {
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.historicalNotes,
.noteEntries {
  flex-direction: column;
  gap: var(--gap-31xl);
  color: var(--color-forestgreen);
}
.historicalNotes {
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  color: var(--color-dimgray);
}
.div2 {
  width: 21px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.theAmericanGovernment,
.theAmericanGovernment1 {
  height: 22px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.theAmericanGovernment1 {
  z-index: 1;
  margin-left: -415px;
}
.schoolEstablishment {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) var(--padding-6xs) var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.reformDetails {
  width: 21px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.theGovernmentImplemented {
  height: 22px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 270px;
  max-width: 100%;
}
.reformDescription {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
}
.expand1Icon {
  width: 27px;
  height: 27px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  object-fit: cover;
  z-index: 3;
}
.the1987PhilippineConstitutiParent {
  flex: 1;
  padding: 0 0 var(--padding-6xs);
  position: relative;
  min-width: 272px;
}
.noteContent,
.reformPeriod,
.the1987PhilippineConstitutiParent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.reformPeriod {
  align-self: stretch;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-30xl);
}
.noteContent {
  width: 482px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-mediumpurple-200);
  overflow: hidden;
  padding: var(--padding-lgi) var(--padding-lg) var(--padding-sm)
    var(--padding-xl);
  gap: var(--gap-43xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-forestgreen);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 750px) {
  .noteContent {
    gap: var(--gap-12xl);
  }
}
@media screen and (max-width: 450px) {
  .noteEntries {
    gap: var(--gap-6xl);
  }
  .reformPeriod {
    gap: var(--gap-5xl);
  }
}
