<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yolodex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Yolodex</h1>
        {% if session['user'] %}
            <p>Hello, {{ session['user']['name'] }}!</p>
            <form action="/logout" method="POST" style="display:inline;">
                <button type="submit">Sign Out</button>
            </form>
        {% else %}
            <form action="/login" method="GET" style="display:inline;">
                <button type="submit">Sign In</button>
            </form>
        {% endif %}

        <div class="cards grid-view">
            {% for item in items %}
            <div class="card">
                <h2>{{ item['name'] }}</h2>
                <p>{{ item['description'] }}</p>
                
                <form action="/edit_item/{{ item['itemID'] }}" method="POST" style="display:inline;">
                    <button type="submit">Edit</button>
                </form>

                <form action="/delete_item/{{ item['itemID'] }}" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </div>
            {% endfor %}

            <div class="card">
                <form action="/add_item" method="POST">
                    <label for="name">Title:</label><br>
                    <input type="text" id="name" name="name" ><br><br>
                    
                    <label for="description">Content:</label><br>
                    <textarea id="description" name="description" ></textarea><br><br>
                    <input type="submit" value="Add Item">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
